{% load staticfiles %}
{% load thumbnail %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Church Avenue Florist - Responsive One Page Portfolio</title>
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
  {# <link href="{% static 'scripts/flexslider/flexslider.css' %}" rel="stylesheet" type="text/css"> #}
  <link rel="stylesheet" type="text/css" href="{% static 'wowslider/home.css' %}" />
</head>
<body>

  <div class="main">

    <!-- Header -->
    <div class="header" id="header">
      <div class="container">

        <!-- Menu -->
        <div class="menu">

          <div class="menu_container">
            <ul class="items">
              <li><a href="#about" title="about us">about us</a></li>
              <li><a href="#services" title="our services">our services</a></li>

              <li><a href="#portfolio" title="arrangments">portfolio</a></li>
              <li><a href="#contact" title="contact us">contact us</a></li>
             
            </ul>

            <!-- Social Links -->
            <ul class="social">
              <li><a href="" class="google">google+</a></li>
              <li><a href="" class="linkedin">linkedin</a></li>
              <li><a href="" class="twitter">twitter</a></li>
              <li><a href="" class="facebook">facebook</a></li>
              <li><a href="" class="pinterest">pinterest</a></li>
              <li><a href="" class="instagram">instagram</a></li>
            </ul>
            <!-- Social Links Ends! -->
          </div>

        </div>
        <!-- Menu Ends -->

        <h1><a href="index.html">Church Avenue
          <br><span>Florist</span></a></h1>

        </div>
      </div>
      <!-- Header Ends! -->

      <!-- Page Content -->
      <div class="page">
        <div class="container">

          <!-- Slider -->
          <div class="promo">

            <div id="wowslider-container1"  class="wowslider-container">

              <div class="ws_images"><ul>
                {% for i in 'xxxxx' %}
                <li><img src="/media/images/flower_{{forloop.counter}}.jpg" alt="" title="" id=""/></li>
                {%endfor%}
              </ul></div>
              <div class="ws_bullets">
                <div>

                  {% comment %}
                    {% for i in 'xxxxx' %}
                  {% thumbnail '/media/images/flower_'|add:y|add:'.jpg'|get_path "128x48" crop="center" as im %}
                  <a href="#" title=""><span><img src="{{im.url}}" alt=""/>{{forloop.counter}}</span></a>
                  {% endthumbnail %}
                  {%endwith%}

                  {% endfor %}
                  {% endcomment %}
                </div>
              </div>
              <div class="ws_script" style="position:absolute;left:-99%"><a href="/">bootstrap carousel</a> by WOWSlider.com v8.6m</div>
              <div class="ws_shadow"></div>
            </div>  

          </div>
          <!-- Slider Ends! -->

          <!-- Abstract -->
          <div class="abstract">
            <a class="anchor" id="about"></a>
            <p>A unique way to spice up your event with a creative display of custom designed floral arrangements for any occasion.<br><em>Get inspired, take a look at our featured sweets below...</em></p>
          </div>
          <!-- Abstract Ends! -->

          <!-- Featured Products -->
          <div class="products">

            <!-- Product -->
            <div class="product">
              <div>
                <img src="{% static 'images/our-store-thumbnail.jpg'%}" alt="thumbnail-1.jpg">
                <a href="{% static 'images/our-store-full.jpg'%}"></a>
              </div>
              <h3>Our Store </h3>
              <p>Conveniently located in the heart of Flatbush Brooklyn easily accessible by mass transit with ample street  parking . </p>
            </div>
            <!-- Product Ends! -->

            <!-- Product -->
            <div class="product">
              <div>
                <img src="{% static 'images/flower-thumbnail-2.jpg'%}" alt="thumbnail-2.jpg">
                <a href="{% static 'images/flower-full-2.jpg'%}"></a>
              </div>
              <h3>Our Selection </h3>
              <p>Large selection of fresh flowers, silk arrangements, blooming plants , chocolates and novelty items.    </p>
            </div>
            <!-- Product Ends! -->

            <!-- Product -->
            <div class="product">
              <div>
                <img src="{% static 'images/flower-thumbnail-3.jpg'%}" alt="thumbnail-3.jpg">
                <a href="{% static 'images/flower-full-3.jpg'%}"></a>
              </div>
              <h3>Our Services </h3>
              <p>Full service florist for all Occasions </p>
            </div>
            <!-- Product Ends! -->

          </div>
          <!-- Featured Products Ends! -->

          <!-- Services -->
          <div class="services">
            <a class="anchor" id="services"></a>

            <h2>Our Services</h2>
            <p class="description">Celebrate your special occasion with us. Whether you're planning for a small or a large event, we will help make it a memorable and beautiful.</p>

            <div class="service">
              <h3>Service with love</h3>
              <p>Dedicated florist following famaliy tradition creating floral arrangements for over twenty years   </p>
            </div>

            <div class="event">
                <li><a href="">Get Well & New Born  </a></li>
                <li><a href="">Church Flowers & Funerals </a></li>
                <li><a href="">Birthdays & Celebrations</a></li>
                <li><a href="">Weddings</a></li>
                <li><a href="">Online Store </a></li>
              </ul>
            </div>

            <div class="delivery">
              <h3>Speedy delivery</h3>
              <p>Wheater is around the corner or around the world , Church Avenue Florist will arrange pompt delivery with specialty to Downsate and Kings County Medical centers  </p>
            </div>
          </div>
          <!-- Services Ends! -->

          <!-- Portfolio -->
          <div class="portfolio">
            <a class="anchor" id="portfolio"></a>

            <h2>Our Portfolio</h2>

            <!-- Birthdays -->
            <div class="items levels" data-group="birthdays">
              <a href="" class="close">close</a>

              <div>
                <img src="{% static 'images/flower-thumbnail-1.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-1.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-2.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-2.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-3.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-3.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-4.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-4.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-5.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-5.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/church-thumbnail-6.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/church-full-6.jpg'%}"></a>
              </div>

            </div>
            <!-- Birthdays Ends! -->

            <!-- Weddings -->
            <div class="items levels" data-group="weddings">
              <a href="" class="close">close</a>

              <div>
                <img src="{% static 'images/flower-thumbnail-1.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-1.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-2.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-2.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-3.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-3.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-4.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-4.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-5.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-5.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/church-thumbnail-6.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/church-full-6.jpg'%}"></a>
              </div>

            </div>
            <!-- Weddings Ends! -->

            <!-- Showers -->
            <div class="items levels" data-group="showers">
              <a href="" class="close">close</a>

              <div>
                <img src="{% static 'images/flower-thumbnail-1.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-1.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-2.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-2.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-3.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-3.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-4.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-4.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-5.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-5.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/church-thumbnail-6.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/church-full-6.jpg'%}"></a>
              </div>

            </div>
            <!-- Showers Ends! -->

            <!-- Parties -->
            <div class="items levels" data-group="parties">
              <a href="" class="close">close</a>

              <div>
                <img src="{% static 'images/flower-thumbnail-1.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-1.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-2.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-2.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-3.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-3.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-4.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-4.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-5.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-5.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/church-thumbnail-6.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/church-full-6.jpg'%}"></a>
              </div>

            </div>
            <!-- Parties Ends! -->

            <!-- Corporate -->
            <div class="items levels" data-group="corporate">
              <a href="" class="close">close</a>

              <div>
                <img src="{% static 'images/flower-thumbnail-1.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-1.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-2.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-2.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-3.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-3.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-4.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-4.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-5.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-5.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/church-thumbnail-6.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/church-full-6.jpg'%}"></a>
              </div>

            </div>
            <!-- Corporate Ends! -->

            <!-- Celebrations -->
            <div class="items levels" data-group="celebrations">
              <a href="" class="close">close</a>

              <div>
                <img src="{% static 'images/flower-thumbnail-1.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-1.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-2.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-2.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-3.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-3.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-4.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-4.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/flower-thumbnail-5.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/flower-full-5.jpg'%}"></a>
              </div>

              <div>
                <img src="{% static 'images/church-thumbnail-6.jpg'%}" alt="-temp-placeholder-thumb">
                <a href="{% static 'images/church-full-6.jpg'%}"></a>
              </div>

            </div>
            <!-- Celebrations Ends! -->

            <!-- Portfolio List -->
            <div class="item">
              <img src="{% static 'images/thumbnail-1.jpg'%}" alt="-temp-placeholder-thumb">
              <a href="" data-group="birthdays"><span>Mixed Flowers</span></a>
            </div>

            <div class="item">
              <img src="{% static 'images/thumbnail-2.jpg'%}" alt="-temp-placeholder-thumb">
              <a href="" data-group="weddings"><span>Roses</span></a>
            </div>

            <div class="item">
              <img src="{% static 'images/thumbnail-3.jpg'%}" alt="-temp-placeholder-thumb">
              <a href="" data-group="showers"><span>Hospitals</span></a>
            </div>

            <div class="item">
              <img src="{% static 'images/thumbnail-4.jpg'%}" alt="-temp-placeholder-thumb">
              <a href="" data-group="parties"><span>Birthdays</span></a>
            </div>

            <div class="item">
              <img src="{% static 'images/thumbnail-5.jpg'%}" alt="-temp-placeholder-thumb">
              <a href="" data-group="corporate "><span>Church & Funerals</span></a>
            </div>

            <div class="item">
              <img src="{% static 'images/thumbnail-6.jpg'%}" alt="-temp-placeholder-thumb">
              <a href="" data-group="celebrations"><span>Online Store</span></a>
            </div>
            <!-- Portfolio List Ends! -->

          </div>
          <!-- Portfolio Ends! -->

          <!-- Team -->
          <div class="team">
            <h2>Meet the team</h2>

            <!-- Member -->
            <div>
              <img src="{% static 'images/team-member-1.png'%}" alt="team-member-name1">
              <h3>Jane Smith</h3>
              <p><em>Favorite dessert <span>chocolate cupcake</span></em></p>
              <p><strong>sweet chef</strong></p>
              <ul>
                <li><a href="" class="google">google+</a></li>
                <li><a href="" class="linkedin">linkedin</a></li>
                <li><a href="" class="twitter">twitter</a></li>
                <li><a href="" class="facebook">facebook</a></li>
              </ul>
            </div>
            <!-- Member Ends! -->

            <!-- Member -->
            <div>
              <img src="{% static 'images/team-member-2.png'%}" alt="team-member-name2">
              <h3>Jackson Williams</h3>
              <p><em>Favorite dessert <span>anything chocolate</span></em></p>
              <p><strong>delicious chef</strong></p>
              <ul>
                <li><a href="" class="google">google+</a></li>
                <li><a href="" class="linkedin">linkedin</a></li>
                <li><a href="" class="twitter">twitter</a></li>
                <li><a href="" class="facebook">facebook</a></li>
                <li><a href="" class="pinterest">pinterest</a></li>
                <li><a href="" class="instagram">instagram</a></li>
              </ul>
            </div>
            <!-- Member Ends! -->

            <!-- Member -->
            <div>
              <img src="{% static 'images/team-member-3.png'%}" alt="team-member-name3">
              <h3>Jane Doe</h3>
              <p><em>Favorite dessert <span>chocolate cookies</span></em></p>
              <p><strong>food stylist</strong></p>
              <ul>
                <li><a href="" class="google">google+</a></li>
                <li><a href="" class="linkedin">linkedin</a></li>
                <li><a href="" class="twitter">twitter</a></li>
                <li><a href="" class="facebook">facebook</a></li>
                <li><a href="" class="instagram">instagram</a></li>
              </ul>
            </div>
            <!-- Member Ends! -->

            <!-- Member -->
            <div>
              <img src="{% static 'images/team-member-4.png'%}" alt="team-member-name4">
              <h3>Mary Brown</h3>
              <p><em>Favorite dessert <span>macarons</span></em></p>
              <p><strong>CEO</strong></p>
              <ul>
                <li><a href="" class="google">google+</a></li>
                <li><a href="" class="linkedin">linkedin</a></li>
                <li><a href="" class="twitter">twitter</a></li>
                <li><a href="" class="facebook">facebook</a></li>
              </ul>
            </div>
            <!-- Member Ends! -->

          </div>
          <!-- Team Ends! -->

          <!-- Map -->
          <div class="map">
            <div id="map_canvas"></div>

            <div class="address">
              <div>
                <h3>Find Us</h3>
                <h4>Churchave Florist</h4>
                <p>3206 Church Ave,<br>Brooklyn<br>New York 11226<br><strong>Phone: (718) 282-4100</strong></p>
              </div>
            </div>
          </div>
          <!-- Map Ends! -->

          <!-- Contact -->
          <div class="contact">
            <a class="anchor" id="contact"></a>

            <!-- Contact Form -->
           
            <!-- Contact Form Ends! -->

            <!-- More -->
            <div class="more">
              <h4>Want to know more?</h4>
              <p>About The Company
Irene's Plaza Florist has been proudly serving the Brooklyn area. We are family owned and operated. We are committed to offering only the finest floral arrangements and gifts, backed by service that is friendly and prompt. Because all of our customers are important, our professional staff is dedicated to making your experience a pleasant one. That is why we always go the extra mile to make your floral gift perfect.
Let Irene's Plaza Florist be your first choice for flowers.
Back To Top
Store Hours
Our shop is open from 9:00 a.m. to 8:00 p.m., Monday through Saturday and from 9:00 a.m. to 5:00 p.m. on Sunday.


To help assure on-time delivery during the busy holiday season, place your order at least 2 days prior to the following major holidays: Thanksgiving Day, Christmas Day, New Year's Day, Valentine's Day, Easter, Administrative Professionals Week, Mother's Day, Memorial Day, Father's Day, Independence Day and Labor Day.
Our shop is open 365 days a year.
Back To Top
Payment Options
                   
JCB  
Back To Top
Areas Served
Our shop serves the following areas:Brooklyn
We also deliver to the following facilities
A Barrett Funeral Svc Inc	A Carter Green Funeral Svc
A John Nicelli	A Vigliante & Sons Inc
Abramo Funeral Home Inc	Adath Isreal Of Brooklyn Inc
Aishel Avraham Health Facility	Albany Medical Ctr
All Faiths Burial & Cremation	Allen Health Care Svc Inc
Alphonso A Brown	Amato & Marasco Funeral Svc
Amato & Marasco Funeral Svc Co	Andrew Torregrossa & Sons Inc
Anthony A Pastorelli Funeral	Anthony Sconzo Funeral Home
Armstrong Funeral Home Inc	Arthur Brown & Son Inc Funeral
Arthur's Funeral Home Inc	Ateret Avot Of Midwood
Augustana Lutheran Home	B Anastasio & Son Inc
Bais Hachaim Chapels	Basile Funeral Home Inc
Bay Park Medical	Bay Ridge Family Health Ctr
Bay Ridge Korean Health Ctr	Benjamin E Robinson Funeral
Benjmain Robinson Funeral	Bensonhurst Prospero & Son Inc
Beth Israel Med Center-Kings	Bethany Methodist Home Inc
Bikur Cholim Of Sea Gate	Bishop Henry B Hucles Nurs Hm
Bishop Maguvero Ctr-Geriatric	Blair-Mazzarella Funeral Home
Blizinski Funeral Home Inc	Borinquen Memorial Fnrl Home
Boro Park Primary Care Clinic	Boulevard Riverside Chapels
Boulevard-Park West Chapels	Brettschneider Funeral Home
Brighton Funeral Bureau	Brizzi Funeral Home
Brookdale Hospital Med Ctr	Brooklyn Chinese Family Health
Brooklyn Endoscopy & Amsurg	Brooklyn Family Medical Assoc
Brooklyn Hospital Center	Brooklyn Hospital Ctr
Brooklyn Jewish Hospital Mntnc	Brooklyn Manor Home For Adults
Brooklyn Methodist Church Home	Brooklyn Queens Nursing Home
Brooklyn Spine & Arthritis Ctr	Brooklyn Women's Svc
Brown's Funeral Home	Buena Vida Nursing Home
Cabs Nursing Home Co	Calvary Hospital
Calvin P Parker Funeral Chapel	Campanaro Falletta Funeral Hm
Capital Funeral Homes Inc	Caribbean American Family Hlth
Castle Senior Living-Prospect	Catholic Charities Diocese
Catholic Medical Ctr-Brooklyn	Caton Park Nursing Home
Center For Child Development	Center For Dialysis-Parkside
Center For Healthcare Svc	Ceraso Gennarelli Funeral Home
Charles Drew Clinic	Charles H Mike Funeral Home
Chevra Kadisha Prushim Genera	Chevra Kadisha Somrei Hachomos
Cleveland R Vaughan Funeral Hm	Clifford N Branch Sr
Cnr Alzheimer's Adult Day	Cobble Hill Chapels
Cobble Hill Nursing Home	Concord Nursing Home Telephone
Coney Island Hospital	Constantinides Funeral Parlor
Coromilas Funeral Chapel Inc	Court Street Funeral Home Inc
Cremation Consultants	Cumberland Hospital
Cusimano & Russo Inc	Cypress Hills Cemetery
D K Robeson Ej Simms Funeral	D'arienzo Funeral Home Inc
Dahill Funeral Home	Daniel George & Son Fnrl Home
Daniel Jean Frantz Funeral Svc	David Lane & Floyd Gilmore
David Lane Funeral Parlor Inc	De Kalb Funeral Svc
De Riso Funeral Home Inc	Ditmas Park Care Ctr
Donnelly & Purcell Funeral Inc	E & C Owens Memorial Chapels
Edward Hc Dunn Inc	Edward J Robeson Funeral Home
Edwards C Halvorsen Inc	English Brothers Funeral Home
Erskine Funeral Home Inc	Evergreen Funeral Home Inc
F G Guido Funeral Home Inc	Fairhaven Funeral Chapel Inc
Family Funeral Svc Inc	Family Health Ctr
Family Health Ctr Network	Family Health Svc
Family Physician Health Ctr	Four Seasons Nursing & Rehab
Frank J Barone Inc	Frank R Bell Funeral Home Inc
Frantz Daniel Jean Funeral Svc	Funeraria Hermanos Inc
Funeraria La Fe Inc	Future Care Consultants
Gamble Funeral Home Inc	Garden Of Eden Home For Adults
Garlick Kirschenbaum Chapels	Geri-Care Systems Inc
Gomez Funeral Home Inc	Goodwin Place Operations
Grace Funeral Chapels	Greenpark Care Ctr
Greenpoint Chapels Ltd	Greenpoint Pediatrics
Guarino Funeral Home Inc	Gutterman's Inc
Haber House Senior Ctr	Harbor View
Harvey's Funeral Svc Inc	Healthy Connection
Heights & Hill Funeral Home	Hellenic Memorial Chapel Inc
Henry Mc Caddin & Son Inc	Herbst Trzaska Waldeck Chapels
Herbst-Schaefer-Waldeck Chapel	Holy Family Home
House Of Hills Inc	Hugh A Reid Inc
I J Morris Inc	Interboro Funeral Svc
Interfaith Medical Ctr	Irving Sherman
Islamic Funeral Svc Inc	Island Rehabilitative Svc
J Jose Spencer Mortician Inc	James F Smallman
James H Willie Funeral Home	James P Byrnes Funeral Home
James W Robinson Funeral Home	Jch-Maimonides Health & Wlns
Jere J Cronin Inc	Jnj Home Health Aid Agency
John J Healey Funeral Home Inc	John J Mc Manus & Sons Inc
John's Funeral Home	Joseph Cottone Funeral Svc
Joseph G Duffy Inc	Joseph P Clavin Sons Inc
Joseph Tari Funeral Home	Joseph V Sessa Funeral Home
Jurek Park Slope Funeral Home	Kehila Chapels Inc
Kenneth R Johnson Funeral Svc	Kings County Hospital
Kingsboro Psychiatric Ctr	Kingsbrook Jewish Medical Ctr
Kirschenbaum Brothers Inc	L J Armistead Funeral Svc
La Providencia Family Health	Lamesta Funeral Home
Las Rosas Funeral Home Inc	Lawrence H Woodward Funeral Hm
Lemberg Home & Geriatric Inst	Leon W Brown Funeral Inc
Leone Funeral Home Inc	Lewis Funeral Svc
Liberty Trade Svc	Lifespire
Lockwood Funeral Home	Long Island College Hospital
Long Island Out Patient Clinic	Louis Biundo Funeral Svc
Louis De Luca Mayflower Home	Louis Tommaso Inc
Lucas Stobierski Gardenview	Lutheran Medical Ctr
M J Smith Sons Inc	Maalin & Bakodesh
Magical Years Early Childhood	Maimonides Bay Ridge Primary
Maimonides Cardiac Rehab	Maimonides Children's Svc
Maimonides Greenpoint Pediatrc	Maimonides Med Ctr-Physical
Maimonides Medical Ctr	Maimonides Pediatric & Family
Maimonides Primary Health Svc	Maimonides Women's Health Svc
Majestic Funeral Svc	Manhattan Avenue Family Health
Marcus Garvey Nursing Home	Marine Park Funeral Home
Marine Park Funeral Home Inc	Matteo Guarino
Matthew Barrett-Rs Saunders	Mayflower Funeral Home
Mc Laughlin & Sons Inc	Mc Millan Funeral Chapel Inc
Memorial & Funeral Group	Menorah Home & Hospital
Menorah Home Hosp Aged And Inf	Merritt Green & Jefferson Fnrl
Metropolitan Jewish Health	Micahel Madonick
Michael De Luca Funeral Home	Michael Madonick Funeral Dir
Michael V Cosgrove & Son Inc	Midwood Memorial Chapel Inc
Miles Funeral Home Inc	Miraglia Funeral Chapels Inc
Mjg Nursing Home Co	Mmc Hematology-Oncology
Molinari Funeral Directors	Morris Ij Inc
N Y City Health & Hospital	N Y Funeral Svc Co
Nagel Funeral Home Inc	Neighborhood Medical Care
Nevsky Memorial Chapels	New York Community Hospital
New York Congregational Ctr	New York Methodist Family Hlth
New York Methodist Healthcente	New York Methodist Hospital
New York Methodist Mri Ctr	Norman L Jeffer Community Chpl
Northern Manor Geriatric Ctr	Norwegian Christian Home
Nychhc Brooklyn Long Term	Nychhc Kings Co Hospital
Nym Foot & Ankle Ctr	Oasis Funeral Svc
Ocean Parkway Pediatric Group	Orlando Funeral Home
Ortiz Funeral Home	Oxford Nursing Home Inc
Paccione Funeral Directors Inc	Palm Beach Home For Adults
Palm Gardens Nursing Home	Palm Tree Nursing Home
Park Avenue Funeral Home	Park Manor Home For Adults
Park Ridge Family Health Ctr	Park Shore Health Care Ctr
Park Slope Family Health Ctr	Parkshore Health Care Ctr
Pavone Funeral Home	Peter C Labella Funeral Chapel
Peter P Dohanich Funeral Home	Pierre Toussaint
Piros Nicola Sons Inc	Pitta Funeral Home Inc
Ponce Funeral Home Inc	Ponce Funeral Homes Inc
Project Reach Wodhull Med Ctr	Prospect Park Nursing Home
R G Ortiz Funeral Home Inc	R Steven Legall Funeral Svc
Raccuglia & Son Funeral Home	Ralph Aievoli & Son Inc
Raymond L Meachem Sr. Funeral	Regional Funeral Service
Ridgewood Bushwick Senior Citi	River Manor Care Center
Robert F Cranford Funeral Home	Ruby Weston Manor
Sabatino Funeral Home Inc	Sampson & Willie Funeral
Sampson Funeral Service	San Juan Memorial Chapel
Saraceno Funeral Homes Inc	Scarpaci Funeral Home Inc
Schaefer Funeral Parlors	Schulman & Schachne Institute
Scotto Funeral Home Inc	Sea Bay Manor Home For Adults
Sea Crest Health Care Center	Seaport Manor Rest Home
Senko Funeral Home	Sephardic Home For Aged Inc
Sheepshead Bay Nursing Home	Sheepshead Bay Women's Care
Sheepshead Nursing Home	Sherman Funeral Home Inc
Shore Road Family Health	Shore View Nursing Home
Shorefront Jewish Geriatric	Silver Manor Funeral Service
Sister Thea Bowman Family	South Beach Park Manor
South Shore Manor Home-Adults	St Francis Assisi Family Hlth
St Joachim & Anne Residences	St John's Episcopal Hospital
St Martin De Porres Substance	St Mary's Ambulatary Care Ctr
St Mary's Continuing Day	St Mary's Hospital
St Mary's Hospital-Wic Program	St Nicholas Home
St Nicholas Home Inc	St Vincent's Catholic Med Ctr
St Vincent's Svc Inc	State University Hospital
Staten Island University Hops	Staten Island University Hosp
Steven V Fortunato Funeral	Sunrise Assisted Living
Sunrise Assisted Living-Mill	Sunset Park Family Ctr-Wic
Sunset Terrace Wic Program	Surf Manor
Thomas F Russo & Son	Trzaska Funeral Home Inc
Turning Point	Unity Funeral Chapels Inc
University Hopital Of Brooklyn	University Hosp Billing Office
Us Veterans Affairs Med Ctr	Vance R Jorsling Chapels Inc
Victory Memorial Hospital	Wan Shou Funeral Svc
Warbasse Geriactics Office	Wartburg Lutheran Home
Watkins Funeral Home	West End Funeral Chapel
West End Gardens Hdf Co	White Memorial Chapels Inc
Wic Program Maimonides Ctr	Willadean W Turner Funeral Svc
Williamsburg Family Health Ctr	Willoughby Nursing Home
Woodhull Medical Group	Woodside Funeral Home
Wyckoff Heights Medical Ctr	Yablokoff Kingsway Memorial
Yereim Orthodox Chapel	
</p>

              <ul>
                <li>Medical Center Events</li>
                <li>Funerals</li>
                <li>Birthdays & Celebrations</li>
                <li>Weddings</li>
                <li>New Born & Get Well</li>
              </ul>
            </div>
            <!-- More Ends! -->

          </div>
          <!-- Contact Ends! -->

        </div>
      </div>
      <!-- Page Ends! -->

      <!-- Footer -->
      <div class="footer">
        <div class="container">
          <p>Copyright &copy;2016 <a href="index.html">Church Avenue Florist</a></p>
        </div>
      </div>
      <!-- Footer Ends! -->

    </div>

    <script src="{% static 'scripts/jquery-1.11.0.min.js'%}"></script>
    {# <script src="{% static 'scripts/flexslider/jquery.flexslider-min.js'%}"></script> #}
    <script src="{% static 'scripts/imagelightbox.min.js'%}"></script>
    <script src="{% static 'scripts/functions.js'%}"></script>
    <script src="{% static 'scripts/form.js'%}"></script>
    <script src="{% static 'scripts/scroll.js'%}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var myLatlng = new google.maps.LatLng (40.6508381,-73.9475743);
        var map_options = {
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: myLatlng,
          scrollwheel: false,
          disableDefaultUI: true
        }

        var map = new google.maps.Map(document.getElementById('map_canvas'), map_options)
        var image = 'static/images/icon-google-maps-marker.png';
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          icon: image
        });

        map.panBy(-200,0);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <!-- Google Map Ends! -->
    <script type="text/javascript" src="{% static 'wowslider/wowslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'wowslider/home.js' %}"></script>
  </body>
</html>
